body{ background-color: #660;
      padding-top:4px;
      
}


#wrapper{width:1000px;
min-height:700px;
margin:0 auto 0 auto;       
border:groove;
background-color: #FFF;
text-align: center;
}


 #content section h1{
 	font-size: 15px;
 }

 

 #content section h2{
 	font-size: 10px;
 	
 }

 nav ul li{
display: inline;
font-size: 25px;
border:groove;
 }


 img{
	padding-left: 15px;
 }

 p{
 	font-size: 15px;
 	padding-top: auto 100px;

 }

	
#footer p{
     font-size:15px;
 }

input{border:1px solid #660;

	        }

	        
			 
	
	        
		
	

  
  
  
  
  
  
  
  
  
  
  
  