body{ background-color:#666666;
      padding-top:4px;
     
}


#wrapper{width:900px;
			min-height:700px;
			margin:0 auto 0 auto;
			padding:20px;         
			border:groove;
			background-color:#FFFFFF;
			
		}
h1{ font-size:25px;
		text-align: center;
		background-color:#237FB4; 
}

section#content{
	                           													
	font-size:15px;
	font-family:"Monotype Corsiva";
	padding:20px; 
}

#image{
	padding: 10px;
}

td:nth-last-child(-2n+5){
   background-color: #F5A9A9;
 }


tr:nth-last-child(-3n+2){background-color:#DA9D6C;}


th:nth-of-type(-3n+5){
	background-color:#660;
	font-size: 15px;
}


tr:nth-of-type(3n+2){color:red;}

tr:nth-of-type(2n+1){
   font-family:"MS Serif","New York",Serif;
 }

 em:only-child{
   background-color: #FA8258;
   border:groove;
   border-radius: 20px;
 }


section#foot{
	font-size: 10px;
	text-align: center;
	border:groove;
	padding: 2px;
}


	
			 
  
  
  
  
  
  
  
  
  
  
  
  